*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.side-nav{    
    height: 0%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    overflow-y: hidden;
    z-index: 1;
    background: black;
    transition: height ease 0.4s;
    opacity: 80%;
}

a{  
    display: block;
    color: rgb(163, 162, 162);
    text-decoration: none;
    text-align: center;
    padding: 15px 0 15px 30px;
    font-size: 2em;
    transition:  ease 1s;
}

.side-nav i{
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(163, 162, 162);
    font-size: 2em;
    cursor: pointer;
}

.side-nav i:hover, a:hover{
    color: white;
    transition: all ease 0.4s;
}

.main{
    width: 95%;
    padding: 20px 40px;
}

#open{
    font-size: 0.95em;
    background: gainsboro;
    border: solid 1px gray;
    margin: 10px 0; 
    padding: 10px 5px;
    cursor: pointer;
}

#open i{
    margin-right: 10px;
}